h3{
    padding-top: 10px;
}

input{
    width: 70%;
    text-align: center;
    margin-bottom: 2px;
    box-shadow: 0px 1px 5px rgb(75, 105, 139);
}

button{
    margin-top: 2px;
    padding: 0;
    width: 40%;
    box-shadow: 0px 2px 5px rgb(75, 105, 139);
}